/* ab-testimonial-style-one */

body{
  background:#ccc;
}
.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}




.ab-one-slider-nav img {
    display: block;
    width: 70px !important;
    margin: 0 auto;
}

.ab-one-slider-nav .slick-track {
    display: flex !important;
    text-align: center;
}

.details {}

.details h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 18px 0 5px !important;
    line-height: 18px;
}

.details span.info {
    font-size: 14px;
}


/* ab-testimonial-style-one */





